<div id="mainContent">

	<!-- <h1 id="mainTitle">My Teams Stats:</h1> -->

	<div id="currentGame" class="widgetFrame hasTab">	
		<div class="tab"><img src="/assets/img/todaysGame.png"></div>

		<!-- This is where home and away teams logos will appear -->
		<img id="teamLogo_home" src="/assets/img/teamLogos/ATL.png">
		<img id="vs" src="/assets/img/vs.png">
		<img id="teamLogo_away" src="/assets/img/teamLogos/ARI.png">

		<!-- This is where the weather data will display -->
		<img id="weatherIcon" src="/assets/img/sun.png" alt="">

	</div>

	<div id="currentGame" class="widgetFrame hasTab">	
		<div class="tab"><img src="/assets/img/todaysScore.png"></div>

		<div id="stadium">0</div>

		<div id="network">0</div>

	</div>	



	<div id="fieldAndBroadcast" class="widgetFrame">		

		<div id="stadium">(53-36)</div>

		<div id="network">(42-45)</div>

	</div>

	<div id="fieldAndBroadcast" class="widgetFrame">		

		<div id="stadium">SunTrust Park</div>

		<div id="network">FS-SO</div>

	</div>	



	<div id="depthChart" class="widgetFrame hasTab">	
		<div id="homeTab" class="tab"><img src="/assets/img/home.png"></div>	

		<h2 class="widgetTitle">Depth Chart<span></span></h2>
				<ul id="homeDepth">
					<li>Matthew Kemp<br><span>LF</span></li>
					<li>Ender Inciarte<br><span>CF</span></li>
					<li>Nicholas Markakis<br><span>RF</span></li>
					<li>Frederick Freeman<br><span>3B</span></li>
					<li>Dansby Swanson<br><span>SS</span></li>
					<li>Brandon Phillips<br><span>2B</span></li>
					<li>Matthew Adams<br><span>1B</span></li>
					<li>Cole Flowers<br><span>C</span></li>
					<li>James Johnson<br><span>RP</span></li>
					<li>Mike Foltynewicz<br><span>SP</span></li>
				</ul>

	</div> 

	<div id="depthChart" class="widgetFrame hasTab">	
		<div id="homeTab" class="tab"><img src="/assets/img/away.png"></div>	

		<h2 class="widgetTitle">Depth Chart<span></span></h2>

		<ul id="homeDepth">
			<li>Gregor Blanco<br><span>LF</span></li>
			<li>Allen Pollock<br><span>CF</span></li>
			<li>Senger Peralta<br><span>RF</span></li>
			<li>Jacob Lamb<br><span>3B</span></li>
			<li>Christopher Owings<br><span>SS</span></li>
			<li>Brandon Drury<br><span>2B</span></li>
			<li>Paul Goldschmidt<br><span>1B</span></li>
			<li>Donald Greinke<br><span>SP</span></li>
			<li>Jeffery Matthis<br><span>C</span></li>
			<li>Andrew Chafin<br><span>RP</span></li>
		</ul>

	</div> 	


</div>