<div id="mainContent">

	<!-- <h1 id="mainTitle">My Teams Stats:</h1> -->

	<div id="currentGame" class="widgetFrame hasTab">	
		<div class="tab"><img src="/assets/img/todaysGame.png"></div>

		<!-- This is where home and away teams logos will appear -->
		<img id="teamLogo_home" src="/assets/img/teamLogos/ATL.png">
		<img id="vs" src="/assets/img/vs.png">
		<img id="teamLogo_away" src="/assets/img/teamLogos/WSH.png">

		<!-- This is where the weather data will display -->
		<img id="weatherIcon" src="/assets/img/sun.png" alt="">

	</div>



	<div id="fieldAndBroadcast" class="widgetFrame">		

		<div id="stadium">SunTrust Park</div>

		<div id="network">FS-SO</div>

	</div>



	<div id="depthChart" class="widgetFrame hasTab">	
		<div id="homeTab" class="tab"><img src="/assets/img/home.png"></div>	

		<h2 class="widgetTitle">Depth Chart <span>(Level 1)</span></h2>

		<ul id="homeDepth">
			<li>Jayson Werth</li>
			<li>Michael Taylor</li>
			<li>Bryce Harper</li>
			<li>Anthony Rendón</li>
			<li>Trea Turner</li>
			<li>Daniel Murphy</li>
			<li>Ryan Zimmerman</li>
			<li>Maxwell Scherzer</li>
			<li>Matthew Wieters</li>
			<li>Koda Glove</li>
		</ul>

	</div> 


</div>